services:
  esm.dev:
    image: ghcr.io/johngeorgewright/esm.dev:latest
    depends_on:
      - esm
      - npm
    environment:
      - NPM_REGISTRY=http://npm:{{registryPort}}
      - ESM_ORIGIN=http://esm:{{esmPort}}
      - ESM_STORAGE_PATH=/esmd
      - PORT={{port}}
    command:
      - start
      - /watch/*
    ports:
      - '{{port}}:{{port}}'
    volumes:
      - {{esmStoragePath}}:/esmd
      # The following are paths to all the packages you wish to auto publish
      {{#packages}}
      - {{path}}:/watch/{{basename}}:ro
      {{/packages}}
      {{^packages}}
      # EG:
      # - ./packages/*:/watch:ro
      {{/packages}}

  esm:
    image: ghcr.io/esm-dev/esm.sh:latest
    environment:
      - NPM_REGISTRY=http://npm:{{registryPort}}
      - NPM_TOKEN=fake
      - LOG_LEVEL=debug
    ports:
      - '{{esmPort}}:8080'
    volumes:
      - {{esmStoragePath}}:/esmd

  npm:
    image: verdaccio/verdaccio:latest
    ports:
      - '{{registryPort}}:4873'
