name: Publish

on:
  push:
    branches: [master]

concurrency:
  group: release

jobs:
  test:
    uses: ./.github/workflows/test.yml

  release:
    name: Release
    needs: [test]
    runs-on: ubuntu-latest
    outputs:
      new_release_published: ${{ steps.release.outputs.new_release_published }}
      version: ${{ steps.release.outputs.new_release_version }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          extra_plugins: |
            @semantic-release/git

  push-image:
    needs: [release]
    if: needs.release.outputs.new_release_published == 'true'
    permissions:
      packages: write
    uses: ./.github/workflows/docker.yml
    with:
      version: ${{ needs.release.outputs.version }}
